* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222222;
}

#canvas {
  display: block;
  margin: auto;
  transform-origin: top center;
  background-color: #FFFFFF;
}

#play-button {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.5rem 2rem;
}
