* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#canvas-container {
  display: block;
  margin: 0 auto;
}

#canvas {
  background-color: transparent;
  outline: 1px solid #000000;
  transform-origin: 0 0;
}

#play-button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
}
